@import "./theme";

html .prose {
  a:not(.btn) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.form-control {
  width: 100%;
}


details {
  user-select: none;

  & summary svg {
    transition: transform 0.2s ease-in-out;
    // transform: rotate(90deg);
  }
}

details[open] {
  & summary svg {
    transform: rotate(-180deg);

  }


}

summary::-webkit-details-marker {
  display: none;
}

summary {
  cursor: pointer;
}